h1 {
  font-family: "Honk", "sans-serif";
}

#movie-info ul {
    list-style-type: disc;
    list-style: inside;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}
.shake {
  animation: shake 0.5s ease-in-out;
}